body {
  margin: 0;
  font-family: Arial;
}

.container {
  padding-left: 8rem;
  padding-right: 8rem;
}

.header-banner {
  background-color: #f1f3ff;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.header-logo {
  width: 100px;
  height: 34px;
  background-color: #0d28a6;
}

.header-navlink {
  display: flex;
  gap: 3rem;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
}

.header-navlink ul,
li > a {
  text-decoration: none;
  list-style: none;
  color: black;
}

.header-navlink ul,
li > a:hover {
  color: #0d28a6;
}

.hero-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* position: relative; */
  /* align-items: center; */
  margin-top: 2rem;
}

.hero-banner-car-grid {
  width: 704px;
  height: 407px;
}
.hero-banner-car {
  position: absolute;
  right: 0;
}

.hero-banner-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 54px;
}

.hero-banner-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.hero-banner-button {
  background-color: #5cb85f;
  color: #ffffff;
  width: 140px;
  height: 36px;
  border-radius: 2px;
  border: none;
  margin-bottom: 2rem;
}

.hero-banner-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 52px;
}

.section-services {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
  padding-inline-start: 4rem;
  padding-inline-end: 4rem;
  padding-top: 5rem;
}

.section-service-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.section-service-list {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.section-service-paragraph {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.section-service-list {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  gap: 8px;
  padding: 0;
}

.section-list-style {
  display: flex;
  align-items: center;
  gap: 6px;
}

.section-list-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
